    <!-- Footer -->

    <section class="portfolio-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-none d-sm-block text-center">
                    <ul class="footer-navigation-links list-inline">
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#portfolio">Portfolió</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#about-me">Rólam</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#services">Szolgáltatásaim</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#blog">Blog</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 mt-3-mb-3 d-flex align-items-center">
                    <div class="portfolio-rights">
                        <p>Copyright ©2018 - Minden jog fenntartva. © Design By Augenic Arts</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center mt-3 mb-3">
                    <img src="portfolio-images/ending-content-logo.svg" alt="Augenic Arts" class="main-logo img-fluid">
                </div>
            </div>
        </div>
    </section>

    <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="js/main.js"></script>
    <script defer type="text/javascript" src="js/generic-js/bootstrap.min.js"></script>
</body>
</html>