<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts - Robert Kozma Portfolio</title>
    <meta name='keywords' content='Robert Kozma, Development, Front-End Development, Back-End Development, Full-Stack Development, Graphic Design, UI Design, UX Design, UI / UX Design, Portfolio, Landing Site'>
    <meta name="description" content="Letisztult weblapokat készítek, illetve hatékony, felhasználó-orientált alkalmazásokat tervezek fejlesztő csapatok, cégek és magánszemélyek számára. Elsődlegesnek tartom, hogy folyamatos fejlődés mellett a legújabb, egyben legmegbízhatóbb webes megoldásokat alkalmazzam munkám során.
    Front-End fejlesztés, teljes vállalati identitás kialakítása, grafikai tervezés, logótervezés, Visual Design, UI / UX Design, Wireframe készítés, Applikáció tervezés.">
    <meta name='copyright' content='Augenic Arts'>
    <meta name='language' content='hu, hun, hungarian'>
    <meta name='author' content='Robert Kozma, augenicarts@gmail.com'>
    <meta name='designer' content='Robert Kozma'>
    <meta name='owner' content='Robert Kozma'>
    <meta name='url' content='http://www.augenicarts.com'>
    <meta name='revisit-after' content='7 days'>
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">

    <!-- Apple Meta Tags -->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../generic-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link href="../hamburger-menu/dist/hamburgers.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" rel="stylesheet">
    <script defer src="js/icon-library/fontawesome-all.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>

    <!--   ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤   -->
    <!--   |                           |   -->
    <!--   |      Augenic Arts ©       |   -->
    <!--   |                           |   -->
    <!--   ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤   -->

    </head>
<body>