<% include partials/header.ejs %>

    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="portfolio-images/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="portfolio-images/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right mt-2 mb-2 list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#portfolio">Portfólió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#about-me">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#services">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#blog">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="navigation-menu" class="navigation-menu d-none d-block d-lg-none">
                                    <ul class="mt-5 mb-5">
                                        <li><a href="#portfolio">Portfolió</a></li>
                                        <li><a href="#about-me">Rólam</a></li>
                                        <li><a href="#services">Szolgáltatásaim</a></li>
                                        <li><a href="#blog">Blog</a></li>
                                        <li><a href="#contact">Kapcsolat</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                    <div class="row section-divider d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="welcome-information text-center">
                                <div class="augenic-arts-logo">
                                    <img src="portfolio-images/main-header-logo.svg" alt="Augenic Arts" class="img-fluid m-4 d-none d-lg-block mx-auto">
                                </div>
                                <div class="main-introduction">
                                    <h1>Robert Kozma</h1>
                                    <h2>Front-End fejlesztő</h2>
                                    <h2>UI | UX Designer</h2>
                                </div>
                                <div class="main-line mt-4 mb-4">
                                    <hr>
                                </div>
                                <div class="main-introduction-quote">
                                    <blockquote class="blockquote">“Az <strong>elkötelezettség</strong> számomra <strong>cselekedet</strong>, nem csak egy szó."</blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- References -->

    <section id="portfolio" class="portfolio-references">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-11">
                    <div class="portfolio-references-main-liner">
                        <h2 class="mb-3">Üdvözöllek a portfólió oldalamon</h2>
                        <p>Munkám során a letisztult, minimalista felületeket helyezem előtérbe; cégek, csapatok és magánszemélyek számára tervezek szabványos, reszponziv weblapokat, webes applikációt. Megrendelőim személyes igényeire szabottan implementálom elképzeléseiket saját stílusomhoz.</p>
                        <p><strong>Tekintsd meg néhány korábbi projektemet!</strong></p>
                    </div>
                </div>
            </div>
            <div class="portfolio-main-references-block">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-disorder-web.jpg" alt="" class="img-fluid global-line">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-disorder-mobile.jpg" alt="" class="img-fluid global-line">
                            <a href="/studio-disorder" class="reference-button btn-block">Több információ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-main-references-block">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-ssda-web.jpg" alt="" class="img-fluid global-line">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-ssda-mobile.jpg" alt="" class="img-fluid global-line">
                            <a href="/street-sphere" class="d-md-none d-lg-block reference-button-ssda btn-block">Több információ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-main-references-block">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-novelith-arts-web.jpg" alt="" class="img-fluid global-line">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-novelith-arts-web-mobile.jpg" alt="" class="img-fluid global-line">
                            <a href="/novelith-arts" class="reference-button btn-block">Több információ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Why choose me -->

    <section id="about-me" class="portfolio-why-choose-me section-divider d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="portfolio-main-liner">
                        <h2>Miért válassz engem?</h2>
                        <p>Letisztult <strong>weblapokat</strong> készítek, illetve hatékony, felhasználó-orientált <strong>alkalmazásokat</strong> tervezek fejlesztő csapatok, cégek és magánszemélyek számára. Elsődlegesnek tartom, hogy <strong>folyamatos fejlődés</strong> mellett a legújabb, egyben legmegbízhatóbb <strong>webes megoldásokat</strong> alkalmazzam munkám során.</p>
                        <p>Front-End fejlesztés, teljes vállalati identitás kialakítása, grafikai tervezés, logótervezés, Visual Design, UI / UX Design, Wireframe készítés, Applikáció tervezés.</p>
                        <div class="contact-button">
                            <a href="#contact">Kérj ajánlatot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->

    <div class="services-overlay">
        <section id="services" class="portfolio-services-main-bg section-divider d-flex align-items-center">
            <div id="service-container" class="container">
                <div class="row">
                    <div class="d-none d-md-block col-md-1">
                        <div class="portfolio-main-line">
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="portfolio-main-liner">
                            <h2>Szolgáltatásaim &amp; képességeim</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">A határidő számomra szent</h4>
                            <p>A rám bízott projektek közösen megbeszélt határidejét kiemelt fontosságúnak tartom.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Tervezői gondolkodásmód</h4>
                            <p>A tervezési fázis során nagy gondot fordítok arra, hogy priorizáljam az üzleti és felhasználói szempontokat, ezáltal lényegileg megalapozva a weblap és applikáció jövőbeni sikerét.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">UI | UX Design</h4>
                            <p>Grafikai szoftverek alkalmazásával (elsősorban <strong>Affinity</strong> &amp; <strong>Adobe</strong> termékek) elkészítem a weboldal letisztult, pixelpontos látványtervét.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Implementáció</h4>
                            <p>A kész tervet felhasználva implementálom és elkészítem a weboldal kristálytiszta mobil és asztali verzióját.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Személyre szabhatóság +</h4>
                            <p>Az általad meghatározott elképzelések, gondolatok a projekt alfája és omegája, így a tervezés és implementálás fázisai során nagy hangsúlyt fektetek ezen alapok kihangsúlyozására.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Tudásvágy +</h4>
                            <p>Szabadidőmben is elszántan fejlesztem a képességeimet, kutatom a legújabb webes technológiákat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- In my free time?  -->

    <section class="portfolio-in-my-free-time d-none d-sm-block">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1 mt-5 mb-5">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-11">
                    <div class="portfolio-main-liner-opener mt-5 mb-5">
                        <h2 class="mb-3">Szabadidőmben?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4">
                        <div class="why-choose-me-background text-center">
                            <img src="portfolio-images/directing.jpg" alt="" class="img-fluid">
                            <div class="why-choose-me-foreground h-100 d-flex align-items-center ml-5 mr-5">
                                <p class="text-center"><strong>Adobe Premier Pro</strong> &amp; <strong>After Effects</strong> kombinációt alkalmazva magyar és külföldi cégeknek, magánszemélyeknek tervezek és készítek promocionális célú videókat.</p>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4 text-center">
                        <div class="why-choose-me-background">
                            <img src="portfolio-images/photography.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="why-choose-me-foreground h-100 d-flex align-items-center ml-5 mr-5">
                            <p class="text-center">A természet és városi fotózás során fellelhető, rejtett értékek energiával töltenek fel. <strong>Adobe Lightroom</strong>-ot és <strong>Google Photos</strong>-t alkalmazva retusálok, javítok, azonban mindig is a naturalista ábrázolást tekintettem mérvadónak.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4 text-center">
                        <div class="why-choose-me-background">
                            <img src="portfolio-images/audio-engineering.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="why-choose-me-foreground h-100 d-flex align-items-center ml-5 mr-5">
                            <p class="text-center">Kreatív munkáim során nagyszámú alkalommal kapok külső forrásból származó hanganyagot, audiovizualitással kapcsolatos kéréseket, ehhez pedig nélkülözhetetlennek tartom az <strong>Ableton 10</strong> használatát.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4">
                        <div class="why-choose-me-background text-center">
                            <img src="portfolio-images/learn-and-study.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="why-choose-me-foreground h-100 d-flex align-items-center ml-5 mr-5">
                            <p class="text-center">Fejlesztőként önmagam fejlődését is elsődleges fontosságúnak tartom, így szabadidőmben is örömmel foglalkozom programozói, grafikai, elméleti és gyakorlati ismereteim bővítésével.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Timeline -->

    <section class="portfolio-timeline pb-4">
        <div class="container">
            <div class="about-my-past text-center">
                <img src="portfolio-images/about-my-past.svg" alt="" class="gemini-core">
                <h2 class="text-center pt-4 pb-4 text-center">A múltamról</h2>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="timeline-item" date-is='2016 szeptember - 2018 április'>
                        <h2>Front-End fejlesztő - Margaréta Stúdió</h2>
                        <p>2016 szeptemberében megpályáztam a <strong>Margaréta Stúdió Fotó - Videó Kft.</strong> Front-end fejlesztői pozícióját. A sikeres állásinterjút követő másfél évben elmélyedtem a kezdetben Front-End, majd Junior Full-Stack webfejlesztés mélyebb megismerésében. <strong>2017 áprilisától személyesen egyeztetek megrendelőinkkel</strong>, illetve Junior Full-Stack fejlesztőként <strong>MEAN Stack</strong> alapú dinamikus oldalakat, landing site-okat és webes applikációkat tervezek, fejlesztek. Az elmúlt közel két éves periódusban számtalan új információ, élmény és tapasztalat gazdagította tudástáramat, elsődlegesen a megrendelőinkkel és munkatársaimmal történő interakció kapcsán.</p>
                    </div>
                    <div class="timeline-item" date-is='2016 augusztus - 2018 április'>
                        <h2>Szabadúszó UI / UX grafikus és fejlesztő - Augenic Arts</h2>
                        <p>2015 októberében - elsődleges szempontom a UX Design mélyebb megismerése volt - különböző freelancer oldalakon kezdtem meg szabadúszó grafikus pályafutásomat. Értékes és hasznos információkkal, illetve több, tapasztaltabb grafikussal ismerkedtem meg az évek során, s bár az utóbbi időben hanyagoltam a szabadúszó megrendeléseket, a portfóliómban található munkáim is főleg ezen megrendeléseimet tükrözik.</p>
                    </div>
                    <div class="timeline-item" date-is='2015 március - 2016 - július'>
                        <h2>Junior Front-End fejlesztő - Nøvelith Arts Studio</h2>
                        <p>Fejlesztői pályafutásomat az érettségi bizonyítványom átvételét követő évben, 2014-ben kezdtem meg egy általam és két fejlesztő barátom által alapított vállalkozás formájában. Látványterveket, landing site-okat terveztünk és készítettünk elsődlegesen magyar megrendelőknek.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog -->

    <section id="blog" class="portfolio-blog-main-bg">
        <div class="portfolio-blog-main-title">
            <div class="container">
                <div class="row portfolio-blog-introduction d-flex align-items-center">
                    <div class="d-none d-md-block col-md-1">
                        <div class="portfolio-main-line">
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="portfolio-main-liner">
                            <h2>Szabadidőmben szeretek blog bejegyzéseket írni, főleg programozással, grafikával kapcsolatban.</h2>
                            <a href="https://medium.com/@augenicarts" target="_blank">Medium oldalam</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-articles">
        <div class="portfolio-blog-articles mt-4 mb-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 text-center">
                        <div class="blog-article-generic-css">
                            <a href="/main-blog/ot-tipp-hogy-jobb-programozova-valj"><img src="portfolio-images/blog-articles-first.jpg" alt="" class="img-fluid"></a>
                            <div class="blog-article">
                                <a href="/main-blog/ot-tipp-hogy-jobb-programozova-valj">Öt tipp, hogy jobb programozóvá válj</a>
                            </div>
                            <blockquote>2018. 03. 28.</blockquote>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 text-center">
                        <div class="blog-article-generic-css">
                            <a href="/main-blog/ui-ux-dizajn"><img src="portfolio-images/blog-articles-second.jpg" alt="" class="img-fluid"></a>
                            <div class="blog-article">
                                <a href="/main-blog/ui-ux-dizajn">UI | UX Dizájn?</a>
                            </div>
                            <blockquote>2018. 03. 11.</blockquote>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 text-center">
                        <div class="blog-article-generic-css">
                            <a href="/main-blog/kuzdelmek-es-aggodalmak"><img src="portfolio-images/blog-articles-third.jpg" alt="" class="img-fluid"></a>
                            <div class="blog-article">
                                <a href="/main-blog/kuzdelmek-es-aggodalmak">Küzdelmek és aggodalmak Webfejlesztőként</a>
                            </div>
                            <blockquote>2018. 02. 22.</blockquote>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 text-center">
                        <div class="blog-article-generic-css">
                            <a href="/main-blog/webfejlesztes-2018-ban"><img src="portfolio-images/blog-articles-fourth.jpg" alt="" class="img-fluid"></a>
                            <div class="blog-article">
                                <a href="/main-blog/webfejlesztes-2018-ban">Webfejlesztés 2018-ban</a>
                            </div>
                            <blockquote>2018. 02. 11.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="portfolio-main-blog-button text-center">
                    <a href="https://medium.com/@augenicarts" target="_blank" class="main-blog-button">Olvass többet</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section id="contact" class="portfolio-contact pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5 mb-4">
                    <div class="portfolio-main-liner">
                        <h2>Lépj kapcsolatba velem</h2>
                        <p>Bármilyen kérdésre - legyen az információkérés, együttműködés, üzleti megkeresés - örömmel állok rendelkezésedre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-contact-forms">
            <div class="container">
                <div class="contact-forms-main-bg">
                    <form method="POST" action="send-your-email">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                            </div>
                            <div class="col-sm-12 send-a-message-btn text-center">
                                <input type="submit" class="send-message" value="Üzenet küldése">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<% include partials/footer.ejs %>