<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" type="text/css" href="../generic-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link href="../hamburger-menu/dist/hamburgers.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" rel="stylesheet">
    <script defer src="js/icon-library/fontawesome-all.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
</head>
<body>

    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="portfolio-images/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="portfolio-images/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right mt-2 mb-2 list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#portfolio">Portfólió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a class="service-event" href="#services">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#blog">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="navigation-menu" class="navigation-menu d-none d-block d-lg-none">
                        <ul class="mt-5 mb-5">
                            <li><a href="">Rólam</a></li>
                            <li><a href="">Portfolió</a></li>
                            <li><a href="">Szolgáltatásaim</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                    <div class="row section-divider d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="welcome-information text-center">
                                <div class="augenic-arts-logo">
                                    <img src="portfolio-images/main-header-logo.svg" alt="Augenic Arts" class="img-fluid m-4 d-none d-lg-block mx-auto">
                                </div>
                                <div class="main-introduction">
                                    <h1>Robert Kozma</h1>
                                    <h2>Front-End fejlesztő</h2>
                                    <h2>UI | UX Designer</h2>
                                </div>
                                <div class="main-line mt-4 mb-4">
                                    <hr>
                                </div>
                                <div class="main-introduction-quote">
                                    <blockquote class="blockquote">“Az elkötelezettség számomra cselekedet, nem csak egy szó."</blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- References -->

    <section id="portfolio" class="portfolio-references">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-11">
                    <div class="portfolio-references-main-liner">
                        <h2 class="mb-3">Üdvözöllek a portfólió oldalamon</h2>
                        <p>A letisztult, minimalista felületetet preferálom; cégek, csapatok és magánszemélyek számára tervezek szabványos, reszponziv weblapokat, webes applikációt. Tekintsd meg néhány korábbi projektjeimet!</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-main-references-block">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-disorder-web.jpg" alt="" class="img-fluid global-line">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-disorder-mobile.jpg" alt="" class="img-fluid global-line">
                            <a href="/studio-disorder" class="reference-button btn-block">Több információ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-main-references-block">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-ssda-mobile.jpg" alt="" class="img-fluid global-line">
                            <a href="/street-sphere" class="d-md-none d-lg-block reference-button-ssda btn-block">Több információ</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-8 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-ssda-web.jpg" alt="" class="img-fluid global-line">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-none d-md-block d-lg-none text-center">
                        <a href="/street-sphere" class="reference-button-ssda btn-block">Több információ</a>
                    </div>
                </div>
            </div>
            <div class="portfolio-main-references-block">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-novelith-arts-web.jpg" alt="" class="img-fluid global-line">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-center">
                        <div class="references-block mt-4 mb-4">
                            <img src="portfolio-images/references-novelith-arts-web-mobile.jpg" alt="" class="img-fluid global-line">
                            <a href="/novelith-arts" class="reference-button btn-block">Több információ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->

    <div class="services-overlay">
        <section id="services" class="portfolio-services-main-bg section-divider d-flex align-items-center">
            <div id="service-container" class="container">
                <div class="row">
                    <div class="d-none d-md-block col-md-1">
                        <div class="portfolio-main-line">
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="portfolio-main-liner">
                            <h2>Szolgáltatásaim &amp; képességeim</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">A határidő számomra szent</h4>
                            <p>A rám bízott projektek közösen megbeszélt határidejét kiemelt fontosságúnak tartom. Nem fogsz csalódni bennem!</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Tervezői gondolkodásmód</h4>
                            <p>A tervezés elsőtől annak utolsó pontjáig nagy gondot fordítok arra, hogy az üzleti és felhasználói szempontokat priorizáljam, ezáltal lényegében megalapozva annak jövőbeni sikerét.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">UI | UX Design</h4>
                            <p>Grafikai szoftverek alkalmazásával (elsődlegesen Affinity Designer, Adobe Photoshop, Adobe Illustrator) elkészítem weboldalad letisztult, pixelpontos látványtervét...</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Implementáció</h4>
                            <p>... Majd a kész tervet felhasználva implementálom és elkészítem weboldalad kristálytiszta mobil és asztali verzióját.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Személyre szabhatóság +</h4>
                            <p>Az általad meghatározott, kifejtett elképzelések, gondolatok nagy hatással vannak rám a munkám során.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="icon-placeholder mt-2 mb-2">
                            <i class="far fa-gem fa-2x"></i>
                            <h4 class="mt-4 mb-2">Tudásvágy +</h4>
                            <p>Szabadidőmben is elszántan fejlesztem a képességeimet, kutatom a legújabb webes technológiákat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Why choose me -->

    <section class="portfolio-why-choose-me section-divider d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="portfolio-main-liner">
                        <h2>Miért válassz engem?</h2>
                        <p>Letisztult <strong>weblapokat</strong> készítek, illetve hatékony, felhasználó-orientált <strong>alkalmazásokat</strong> tervezek fejlesztő csapatok, cégek és magánszemélyek számára. Elsődlegesnek tartom, hogy <strong>folyamatos fejlődés</strong> mellett a legújabb, egyben legmegbízhatóbb <strong>webes megoldásokat</strong> alkalmazzam munkám során.</p>
                        <p>Front-End fejlesztés, teljes vállalati identitás kialakítása, grafikai tervezés, logótervezés, Visual Design, UI / UX Design, Wireframe készítés, Applikáció tervezés.</p>
                        <div class="contact-button">
                            <a href="#contact">Kérj ajánlatot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- In my free time?  -->

    <section class="portfolio-in-my-free-time d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1 mt-5 mb-5">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-11">
                    <div class="portfolio-main-liner-opener mt-5 mb-5">
                        <h2 class="mb-3">Szabadidőmben?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4">
                        <div class="why-choose-me-background text-center">
                            <img src="portfolio-images/directing.jpg" alt="" class="img-fluid">
                            <div class="why-choose-me-foreground align-self-center">
                                <h4 class="text-center text-white">Videó készítés &amp; szerkesztés</h4>
                                <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sequi officiis, quasi tempore dolorum et ut eveniet impedit dolores aliquid quam quos, accusamus eos corrupti facere tenetur exercitationem, obcaecati ullam.</p>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4 text-center">
                        <div class="why-choose-me-background">
                            <img src="portfolio-images/photography.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="why-choose-me-foreground">
                            <h4 class="text-center text-white">Fényképészet</h4>
                            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sequi officiis, quasi tempore dolorum et ut eveniet impedit dolores aliquid quam quos, accusamus eos corrupti facere tenetur exercitationem, obcaecati ullam.</p>        
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4 text-center">
                        <div class="why-choose-me-background">
                            <img src="portfolio-images/audio-engineering.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="why-choose-me-foreground">
                            <h4 class="text-center text-white">Amatőr hangmérnök</h4>
                            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sequi officiis, quasi tempore dolorum et ut eveniet impedit dolores aliquid quam quos, accusamus eos corrupti facere tenetur exercitationem, obcaecati ullam.</p>        
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 p-2">
                    <div class="why-choose-me-information p-4">
                        <div class="why-choose-me-background text-center">
                            <img src="portfolio-images/learn-and-study.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="why-choose-me-foreground">
                            <h4 class="text-center text-white">Tanulás és önfejlesztés</h4>
                            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi sequi officiis, quasi tempore dolorum et ut eveniet impedit dolores aliquid quam quos, accusamus eos corrupti facere tenetur exercitationem, obcaecati ullam.</p>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Timeline -->

    <section class="portfolio-timeline pb-4">
        <div class="container">
            <div class="about-my-past text-center">
                <img src="portfolio-images/about-my-past.svg" alt="" class="gemini-core">
                <h2 class="text-center pt-4 pb-4 text-center">About my Past</h2>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="timeline-item" date-is='20-07-1990'>
                        <h2>Hello, 'Im a single div responsive timeline without mediaQueries!</h2>
                        <p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.</p>
                    </div>         
                    <div class="timeline-item" date-is='20-07-1990'>
                        <h2>Oeehhh, that's awesome.. Me too!</h2>
                        <p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.</p>
                    </div>
                    <div class="timeline-item" date-is='20-07-1990'>
                        <h2>I'm ::last-child so my border fades ^__^</h2>
                        <p>I'm speaking with myself, number one, because I have a very good brain and I've said a lot of things. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different? I think the only card she has is the Lorem card.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog -->

    <section id="blog" class="portfolio-blog-main-bg">
        <div class="portfolio-blog-main-title">
            <div class="container">
                <div class="row portfolio-blog-introduction d-flex align-items-center">
                    <div class="d-none d-md-block col-md-1">
                        <div class="portfolio-main-line">
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="portfolio-main-liner">
                            <h2>I love to write blog articles mainly about UI, Programming and Video Editing.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-articles">
        <div class="portfolio-blog-articles mt-4 mb-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="blog-article-generic-css">
                            <img src="portfolio-images/blog-articles-first.jpg" alt="" class="img-fluid">
                            <div class="blog-article">
                                <a href="/main-blog/ot-tipp-hogy-jobb-programozova-valj">Öt tipp, hogy jobb programozóvá válj</a>
                            </div>
                            <blockquote>2018. 03. 28.</blockquote>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="blog-article-generic-css">
                            <img src="portfolio-images/blog-articles-second.jpg" alt="" class="img-fluid">
                            <div class="blog-article">
                                <a href="/main-blog/ui-ux-dizajn">UI | UX Dizájn?</a>
                            </div>
                            <blockquote>2018. 03. 11.</blockquote>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="blog-article-generic-css">
                            <img src="portfolio-images/blog-articles-third.jpg" alt="" class="img-fluid">
                            <div class="blog-article">
                                <a href="/main-blog/kuzdelmek-es-aggodalmak">Küzdelmek és aggodalmak Webfejlesztőként</a>
                            </div>
                            <blockquote>2018. 02. 22.</blockquote>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                        <div class="blog-article-generic-css">
                            <img src="portfolio-images/blog-articles-fourth.jpg" alt="" class="img-fluid">
                            <div class="blog-article">
                                <a href="/main-blog/webfejlesztes-2018-ban">Webfejlesztés 2018-ban</a>
                            </div>
                            <blockquote>2018. 02. 11.</blockquote>
                        </div>
                    </div>
                </div>
                <div class="portfolio-main-blog-button text-center">
                    <a href="" class="main-blog-button">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section id="contact" class="portfolio-contact pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5 mb-4">
                    <div class="portfolio-main-liner">
                        <h2>Get in contact with me</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maiores sit unde illo dolorum, sapiente possimus excepturi minima amet aut labore repellendus debitis architecto illum laboriosam! Ut consectetur quia porro!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-contact-forms">
            <div class="container">
                <div class="contact-forms-main-bg">
                    <form method="POST" action="send-your-email">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 mt-4 mb-4">
                                <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                            </div>
                            <div class="col-sm-12 send-a-message-btn text-center">
                                <input type="submit" class="send-message" value="Üzenet küldése">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<% include ../partials/footer.ejs %>