<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts</title>
    <link rel="stylesheet" type="text/css" href="../css/blog-section/kuzdelmek-aggodalmak.css">
    <link rel="stylesheet" type="text/css" href="../generic-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link href="../css/blog-section/hamburger-menu/dist/hamburgers.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" rel="stylesheet">
    <script defer src="../js/icon-library/fontawesome-all.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
</head>
<body>

    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right mt-2 mb-2 list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Portfolió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="navigation-menu" class="navigation-menu d-none d-block d-lg-none">
                        <ul class="mt-5 mb-5">
                            <li><a href="">Rólam</a></li>
                            <li><a href="">Portfolió</a></li>
                            <li><a href="">Szolgáltatásaim</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                    <div class="row section-divider d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="welcome-information text-center">
                                <div class="main-introduction">
                                    <h1>Küzdelmek és aggodalmak webfejlesztőként</h1>
                                    <p>A mindennapi fejlesztői problémák mellett kitérünk a fejlesztő mentális küzdelmeinek témakörére is. Jelezni szeretném, hogy ezen bejegyzésemben saját példákat prezentálok, illetve a magyarországi oktatási viszonyokra reagálok.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="main-blog-section">
        <div class="container">
            <div class="blog-section">
                <h2>Oktatás és önfejlesztés - Diploma vagy OKJ?</h2>
                <p>Nagyon fontos, hogy Te, mint önálló, gondolkodó individuum, ismerd magad eléggé ahhoz, hogy fel tudd tenni magadnak a következő kérdéseket: megvan a lehetőségem arra, hogy egyetemre menjek? Ha egyetemre megyek, vajon megkapom az alapokat ahhoz, hogy a későbbiekben valóban fejlesztővé válhassak? A papír miatt vagy a tényleges tudás miatt kezdem el a képzést? Ha inkább egy OKJ-t választok, akkor melyik oktatási intézmény lehet a legideálisabb számomra?</p>
                <p>A kérdésekkel több oldalt megtölthetnénk, azonban úgy gondolom, hogy a válasz nagyon egyszerű: amennyiben lehetőség nyílik rá, hogy érettségi után tovább tanulj, lépd meg; mindenképpen segíteni fog a karriered fejlődésében, azonban! Amennyiben tényleges tudást szeretnél elsajátítani és megvan benned a motiváció ahhoz, hogy önfejlesztés során, akár munka és / vagy család, akár pénzügyi és / vagy ezernyi emberi nehézség mellett fejleszd magad, akkor minden lehetőség megvan ahhoz is, hogy az egyetemet megközelítő vagy túlszárnyaló tudásanyagot halmozz fel otthoni tanulmányaid során. Nem vagyok sem oktató, sem egyetemi tanár, így a véleményem szubjektív alapokon nyugszik, azonban a tapasztalataim szerint nem mindenki képes arra, hogy önálló módon, szabad idejének jelentős részét feláldozva fejlessze magát saját szakterületén.</p>
                <h4 class="pt-2 pb-4">Az ok, amiért így gondolom, a következő:</h4>
                <p>Véleményem szerint az egyetemi oktatás — nem feltétlenül a magyarországi helyzetet prezentálva — elméleti alapokról induló, majd a későbbiekben a gyakorlatot teljesen háttérbe szorító oktatást nyújt, így lehet akár kialakult, stabil struktúrád a felsőoktatásban eltöltött éveid alatt, nagy valószínűség szerint rengeteg olyan anyagot szükségszerű megtanulnod, elsajátítanod, elraktároznod, melynek — bármilyen „szélsőségesen” is hangzik — nem fogod hasznát venni a frissen megpályázott pozíciódban.</p>
                <p>Nem szeretnék név szerint kiemelni egy magyarországi egyetemet sem, illetve a spanyol viaszt sem áll szándékomban feltalálni az egyetemi oktatás megreformálásával kapcsolatban, ellenben az egyetemen töltött éveim során olyan mélyen gyökeredző, negatív kép alakult ki bennem az oktatási rendszer sterilitásával kapcsolatban, amelynek a tökéletes inverzét éreztem gyermekkoromban, azon a ponton, amikor arról kezdtem álmodozni, hogy egy napon én is “felnőtté válhatok” azáltal, hogy egyetemista leszek.</p>
                <p>Nem térek ki bővebben az ok-okozati hálóra, ugyanis nem ez a témakör a bejegyzés fő motívuma. Nagyon sok olyan kollégát, barátot, ismerőst tudnék prezentálni a fenti két bekezdésem ellenpéldájaként. Olyan emberek véleményét, akiknek szükségük volt / van az egyetemi struktúrára ahhoz, hogy a lehető legtöbbet hozzák ki képességeikből, ebben pedig abszolút nem látok kivetnivalót. Az egyetemi oktatás számlájára írom, hogy önfejlesztés mellett nem olyan könnyű megtapasztalni azokat a szociális interakciókat, megkötéseket, melyek elsődlegesen az felsőoktatásban résztvevő diákokat pártfogolják. Végül — amennyiben kifejezetten jó eredményekkel zársz — akár külföldön is próbálkozhatsz, “elitnek” számító egyetemeken, főiskolákon, de ez a bejegyzés elsődlegesen az átlagos szintet megkövetelő intézményekről szólt.</p>
            </div>
            <div class="blog-section">
                <h2>Kezdjek bele egy Bootcamp-be?</h2>
                <p>Nagyszerű ötlet! Biztos vagyok benne, hogy hallottál már a udemy.com-ról, avagy a több tízezer, hasonló dinamikával kialakított, oktatói videókkal megtűzdelt kihívókról, melyek bootcamp-ek formájában adnak főleg gyakorlati ismeretekre alapozó oktatást. A Bootcamp-ekről „mini-course”-ok formájában is hallhattál, ugyanis elsődleges céljuk, hogy specializáltan, direkt az általad preferált (pl.:) nyelvről, annak szintaktikájáról, felhasználási módjáról mélyebb megismerést kapj videók, vizualitás és gyakorlati feladatsorok formájában.</p>
                <p>Személy szerint nem bootcamp-ekkel kezdtem a grafikusi, majd fejlesztői pályafutásomat, azonban az elmúlt években én is előfizettem tanfolyamokra, melyek véleményem szerint még erősebb alapot, plusz hasznos információkat biztosítottak az adott környezet mélyebb megértéshez.</p>
            </div>
            <div class="blog-section">
                <h2>Milyen programozási nyelvekkel kezdjem?</h2>
                <p>Szintén nagyon fontos faktor, hogy bármilyen önképzési forma vagy megkezdett tanfolyam előtt nézz utána a hozzád közel álló területeken feladott programozói hirdetéseknek, például: a piac jelenlegi állása szerint Magyarországon több PHP fejlesztőt keresnek, mint Python fejlesztőt. Front-end fejlesztőként lényegesen többet kell felmutatnod az alapszintű HTML + CSS + JS triumvirátusnál. Természetesen a céges kultúra mindenhol különbözik, így ha szerencséd van, a kiválasztott cég — miután megfeleltél az interjún— lehetőséget ad training-ekre, illetve elegendő tudásanyagot nyújt számodra ahhoz, hogy tapasztaltabb lehess, de! A legfontosabb, hogy többet mutass fel az átlagnál, ki akarj tűnni a tömegből.</p>
            </div>
            <div class="blog-section">
                <h2>Milyen framework-öket használjak?</h2>
                <p>Ha Front-end fejlesztő vagy, jelenleg a legideálisabb, ha megtanulod a CSS Grid használatát, így önmagad is felépíthetsz egy reszponzív oldalsémát, általad meghatározott query-kkel, ezernyi lehetőséggel és közel végtelen számú módosítással, bármiféle framework használata nélkül. Ha preferálod a használatukat, akkor személy szerint Bootstrap-et, Materialize.css-t, Material.io-t és Semantic UI-t javaslom, de ezen framework-ökön kívül is ezernyit találhatsz, melyek lehet, hogy a tanulmányaid vagy munkád során jobban megkedvelsz, viszont ismétlem: ha az általad kiválasztott cég például Bootstrap-et használ, akkor vesd rá magad és maxold ki a Bootstrap lehetőségeit.</p>
                <p>Röviden: olvass, figyelj, érdeklődj!</p>
            </div>
            <div class="blog-section">
                <h2>Hány órát szánjak a tanulásra?</h2>
                <p>A legideálisabb, ha napi szinten foglalkozol programozással. Oldalakat írhatnék az agyad napi szintű befogadó kapacitásával kapcsolatban, viszont anatómiai értekezések nélkül is tapasztalhatod, hogy a hétköznapi rutinok, feladatok, problémákra történő megoldáskeresés rengeteg energiádat emészti fel. Legyen a programozásra szánt idő fél, két, nyolc vagy tizenkét óra. A lényeg a rendszeresség.</p>
            </div>
            <div class="blog-section">
                <h2>Megvan bennem minden ahhoz, hogy programozó lehessek?</h2>
                <p>Ha rendelkezel megfelelő affinitással, motivációval, természetesen. Tudom, az előző mondat marketingfogásnak is tökéletesnek hatna, azonban a lényegen nem változtat: ha attól félsz, hogy a logikád hagy némi kivetnivalót maga után, esetleg nem tartod magad elég kreatívnak ahhoz, hogy belekezdj, akkor is csak egy módon tudhatod meg, hogy valóban rendelkezel-e megfelelő képességekkel ahhoz, hogy programozóvá válhass: kezdd el!</p>
            </div>
            <div class="blog-section">
                <h2>A szenvedély a kulcs?</h2>
                <p class="main-line">Igen! Örömmel bedobnék ide egy listát arról az információbázisról, tudásanyagról, elvonatkoztathatatlan alappillérekről, ami, és amik által Full-stack fejlesztővé válhatsz, de nem az a célom, hogy elbátortalanítsalak.</p>
            </div>
            <div class="blog-section">
                <h2>Te hogy kezded? Milyen lehetőségek állnak rendelkezésemre kezdőként?</h2>
                <p>Minden nap nyitott vagyok az új információkra, új törzsanyagra. Ha nálam tapasztaltabb programozókkal vagy grafikusokkal beszélgetek, igyekszem megfogadni minden tanácsukat, ugyanis emberi egyetemes igazság, hogy ahol te éppen elakadtál, ott mások már a megoldást megtalálva továbbléptek. Miért lennél olyan naiv, hogy nem fogadod el a segítségüket?</p>
                <p>Pontosan így kezdtem: nyitott voltam, érdeklődtem, olvastam és minden szellemi forrást, amit szabadon felhasználhattam, feldolgoztam és alkalmaztam. Idővonal szerint 2015-ban alapítottunk egy általunk „start up”-nak nevezett céget egy máig nagyon jó barátommal, aki mondhatni, ugyanolyan „tapasztalt” programozó volt akkortájt, mint én.</p>
                <p>Közeli ismerőseinknek és kezdő vállalkozóknak készítettünk landing site-okat, amik mai szemmel visszanézve nyilván nem szégyenítették meg az Enterprise piacot, viszont nagyon sok pozitív visszajelzést kaptunk az ügyfeleinktől. Hozzáteszem, hogy 2015-ben mellékállásként folytattuk a webfejlesztést. Az elmúlt négy év során pedig minden nap kemény munkával fejlődtem.</p>
                <p class="main-line">Jelentkezz Junior pozíciókra és fejleszd magad minden nap; nem tudom eleget hangsúlyozni az önfejlesztést. Regisztrálj be különböző freelancer oldalakra és licitálj munkákra. Ha foglalkozol a saját képességeid fejlesztésével, a nagy számok törvénye alapján a további lehetőségeid száma közel végtelen.</p>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section class="portfolio-contact pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5 mb-4">
                    <div class="portfolio-main-liner">
                        <h2>Lépj kapcsolatba velem</h2>
                        <p>Bármilyen kérdésre - legyen az információkérés, együttműködés, üzleti megkeresés - örömmel állok rendelkezésedre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-contact-forms">
            <div class="container">
                <div class="contact-forms-main-bg">
                    <form method="POST" action="send-your-email">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 mt-4 mb-4">
                                <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                            </div>
                            <div class="col-sm-12 send-a-message-btn text-center">
                                <input type="submit" class="send-message" value="Üzenet küldése">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-none d-sm-block text-center">
                    <ul class="footer-navigation-links list-inline">
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#portfolio">Portfolió</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#about-me">Rólam</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#services">Szolgáltatásaim</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#blog">Blog</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                    <div class="portfolio-rights">
                        <p>Copyright ©2018 - Minden jog fenntartva. © Design By Augenic Arts</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center">
                    <img src="/portfolio-images/ending-content-logo.svg" alt="Augenic Arts" class="main-logo img-fluid mt-3 mb-3">
                </div>
            </div>
        </div>
    </section>

    <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../js/main.js"></script>
    <script defer type="text/javascript" src="../js/generic-js/bootstrap.min.js"></script>
</body>
</html>