<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts</title>
    <link rel="stylesheet" type="text/css" href="../css/blog-section/ot-tipp.css">
    <link rel="stylesheet" type="text/css" href="../generic-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link href="../css/blog-section/hamburger-menu/dist/hamburgers.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" rel="stylesheet">
    <script defer src="../js/icon-library/fontawesome-all.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
</head>
<body>

    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right mt-2 mb-2 list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Portfolió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="navigation-menu" class="navigation-menu d-none d-block d-lg-none">
                        <ul class="mt-5 mb-5">
                            <li><a href="">Rólam</a></li>
                            <li><a href="">Portfolió</a></li>
                            <li><a href="">Szolgáltatásaim</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                    <div class="row section-divider d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="welcome-information text-center">
                                <div class="main-introduction">
                                    <h1>Öt tipp, hogy jobb programozóvá válhass</h1>
                                    <p>A mai bejegyzésben öt olyan metódusról, útmutató pontról, illetve — a címhez hűen — tippről olvashatsz, melyeknek elsajátításával magabiztosan fejlesztheted programozói képességeidet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="main-blog-section">
        <div class="container">
            <div class="blog-section">
                <p>Jelezni szeretném, hogy ezen blog bejegyzés nem a sematikusan felépített, programozói nyelveken végigvezető írás, sokkal inkább a programozói látásmódot előtérbe helyező tippek gyűjteménye.</p>
                <p>Kellemes olvasást kívánok!</p>
            </div>
            <div class="blog-section">
                <h2>I., A rendszeresség elve</h2>
                <p>Nyilvánvaló és logikus; bármilyen kreatív tevékenységet is végzel, annak napi szinten történő fejlesztése során újabb és újabb kihívásokra kell tökéletes választ adnod ahhoz, hogy a nap végén rögzíthesd agyi neuronjaid végtelen hálójában: ma is tapasztaltabb lettél! Amennyiben programozónak készülsz, nagyon fontos, hogy már a kezdetek kezdetén realizáld magadban: a munkád legyen egyben a szenvedélyed is.</p>
                <p>Amennyiben csak munkaként gondolsz a programozásra, a hétköznapjaid pedig mellőzik az önfejlesztést, hamar rá fogsz döbbenni, hogy a piac kegyetlen tempóval elhúzott melletted.</p>
                <p>Az IT a XXI. század jelenleg legdinamikusabban fejlődő szektora (szóljon ezen kijelentés azoknak, akik megragadtak a postagalamb használatánál), így mindenki számára egyértelmű, hogy új technológiák ezrei jelennek meg napi szinten a piacon; ezen technológiák fennmaradása, virágzása nagyban múlik a fejlesztőkön, akik implementálják ezen újdonságokat saját munkaterületükön.</p>
                <p class="main-line">Szabadidődben is fejleszd az elsajátított tudást és reagálj pozitívan az újdonságokra. Nem tudhatod, hogy milyen library-k, új, illetve tisztább kontextusba helyezett nyelvek lehetnek segítségedre a jövőben. In primo, a napi szintű, szabadidődben történő programozás csak előnyödre válhat!</p>
                <p>Fejlesztheted magad bootcamp-ek (pl.: <a href="https://www.udemy.com/" target="_blank">udemy.com</a> tanfolyamok), Youtube-on direkt programozásra specializált csatornák (első körben <a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA" target="_blank">Traversy Media</a>-t javaslom), illetve programozásra szakosodott oldalak (személyes favoritom: <a href="https://codewars.com" target="_blank">codewars.com</a>, kihívás alapú programozás) segítségével.</p>
            </div>
            <div class="blog-section">
                <h2>II., Építs és rombolj</h2>
                <p>Fontos, hogy az alap nyelvi szintaktika elsajátítása után ne hagyd elveszni a megszerzett tudást, azonban még fontosabb, hogy ezen tudást sikeresen áthelyezd a saját perspektívádba; egy szóval alkalmazd az elsajátított képességeket. Ha webfejlesztő vagy, “ragadj meg” egy általad preferált szerkesztőt (pl.: VSCode, Atom), és akár önmagadtól, akár tutorial-ok segítségével tervezz meg egy kezdő weboldalt. Nem kell a legújabb framework-ökkel megtűzdelned a soraidat, először építsd fel a statikus blokkokat, a későbbiekben ráérsz a reszponzívitással, prefixekkel, SEO alapokkal foglalkozni. Kezdd az alapokkal, majd a felépített várat ott rombold le, ahol úgy gondolod, hogy az alapot erősebb anyagra tudod cserélni.</p>
                <p>Róma sem egy nap alatt épült, így neked is rá kell szánnod az időt ahhoz, hogy nap mint nap újabb tapasztalatot gyűjthess!</p>
            </div>
                <div class="blog-section">
                <h2>III., Maradj proaktív</h2>
                <p>Pörgesd fel a kreativitásod és kezdj bele egy másodlagos projektbe! Tanuld meg a legismertebb grafikai szoftverek használatát, pl.: Adobe szoftverek (Photoshop, Illustrator, inDesign, After Effects, Premiere Pro, etc. etc.), Affinity produktumok (Designer, Photo). Tervezz wireframe-eket papírformára, írj blogot a tapasztalataidról, sorolhatnám, sorolhatnám…</p>
                <p>A lényeg, hogy a másodlagos projektek beiktatásával proaktív maradj. Nem feltétlenül a siker a motiváció, sokkal inkább az út, amit bejárhatsz utálattal és kiégéssel az arcodon, vagy boldog és motiváltan amiatt, mert minden nap tanultál valami újat, legyen az logikai, kreatív, aktív, vagy passzív képesség. Természetesen ezen állításom nem csak a programozói fejlődést, de a hétköznapi életvitelre történő pozitív hatást is eredményezheti.</p>
            </div>
            <div class="blog-section">
                <h2>IV., Bootcamp-ek, Tutorial-ok</h2>
                <p>Az első pontban olvashattál bootcamp-ekről, tutorial-okról, mégis úgy gondolom, hogy az egyik legfontosabb építőköve a programozói látásmód fejlesztésének, ha “beülsz” a különböző programozási nyelvekre, programozói pályákra, pozíciókra specializálódott session-ökre.</p>
                <p class="main-line">Használd az Internet erőforrásait ahhoz, hogy jobb programozóvá válhass, bármilyen “XX. századinak” is hangzik ezen állításom.</p>
            </div>
            <div class="blog-section">
                <h2>V., Kapcsolódj be a közösségbe</h2>
                <p>Regisztrálj be <a href="https://stackoverflow.com/" target="_blank">Stackoverflow</a>-ra és pillanatok alatt realizálhatod, hogy fennakadások, problémák tekintetében nem vagy egyedül, sőt!</p>
                <p>Szabadidődben nyiss új emberek felé, akár élőben, akár social media segítségével. Meg fogsz lepődni, hogy milyen sok programozó sétál az utcákon, akik — személyes véleményem szerint — az érdeklődéseddel megegyező pozitivitással fognak hozzád és a kérdéseidhez állni. Az első néhány alkalom során a szerinted Stephen Hawking-et is elkápráztató mondatok fogják elhagyni a szádat, viszont a későbbiekben minél többet hallgatsz, annál több új információ, tudásanyag válik elérhetővé számodra a nálad tapasztaltabb programozóktól.</p>
            </div>
            <div class="blog-section">
                <p class="main-line">Ezen öt pont betartásával biztos vagyok benne, hogy már rövidtávon új képességek, tapasztalatok es kapcsolatok birtokába juthatsz! <strong>Keep up</strong> és sok sikert az elsajátításukhoz!</p>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section class="portfolio-contact pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5 mb-4">
                    <div class="portfolio-main-liner">
                        <h2>Lépj kapcsolatba velem</h2>
                        <p>Bármilyen kérdésre - legyen az információkérés, együttműködés, üzleti megkeresés - örömmel állok rendelkezésedre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-contact-forms">
            <div class="container">
                <div class="contact-forms-main-bg">
                    <form method="POST" action="send-your-email">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 mt-4 mb-4">
                                <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                            </div>
                            <div class="col-sm-12 send-a-message-btn text-center">
                                <input type="submit" class="send-message" value="Üzenet küldése">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-none d-sm-block text-center">
                    <ul class="footer-navigation-links list-inline">
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#portfolio">Portfolió</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#about-me">Rólam</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#services">Szolgáltatásaim</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#blog">Blog</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                    <div class="portfolio-rights">
                        <p>Copyright ©2018 - Minden jog fenntartva. © Design By Augenic Arts</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center">
                    <img src="/portfolio-images/ending-content-logo.svg" alt="Augenic Arts" class="main-logo img-fluid mt-3 mb-3">
                </div>
            </div>
        </div>
    </section>

    <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../js/main.js"></script>
    <script defer type="text/javascript" src="../js/generic-js/bootstrap.min.js"></script>
</body>
</html>