<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts</title>
    <link rel="stylesheet" type="text/css" href="../css/blog-section/ui-ux-design.css">
    <link rel="stylesheet" type="text/css" href="../generic-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link href="../css/blog-section/hamburger-menu/dist/hamburgers.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" rel="stylesheet">
    <script defer src="../js/icon-library/fontawesome-all.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
</head>
<body>

    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right mt-2 mb-2 list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Portfolió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="navigation-menu" class="navigation-menu d-none d-block d-lg-none">
                        <ul class="mt-5 mb-5">
                            <li><a href="">Rólam</a></li>
                            <li><a href="">Portfolió</a></li>
                            <li><a href="">Szolgáltatásaim</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                    <div class="row section-divider d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="welcome-information text-center">
                                <div class="main-introduction">
                                    <h1>UI vagy UX fejlesztő?</h1>
                                    <p>Nem újdonság éles vitákat hallani a felhasználói élmény (UX) és felhasználói felület (UI) közötti határvonal pontos meghúzásáról. Húzzuk meg e határvonalat ebben a bejegyzésben…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="main-blog-section">
        <div class="container">
            <div class="blog-section">
                <p>Mielőtt megválaszolnánk a mindenki által várt kérdést — miszerint mi is az a UI/UX Design? -, fontos, hogy szem előtt tartsuk: a két kifejezés, elvrendszer, megközelítés egyike sem fogja elérni az optimális hatást a másik nélkül. A UI nélküli UX-et egy diákok nélküli tanteremmel, míg a UX nélküli UI-t egy professzionális festő megkérdezése nélkül kifestett házzal prezentálhatjuk.</p>
            </div>
            <div class="blog-section">
                <h2>Mi az a UX Design?</h2>
                <p>A felhasználói dizájn (angol kifejezéssel általában UXD-ként vagy UED-ként is rövidítik) azon folyamatok összessége, amelyek az ügyfelek elégedettségét növelik a termék használhatóságának és élvezetének fejlesztésével.</p>
                <p>UX Designer-ként elsődleges célod és feladatod, hogy egy bizonyos termék megtervezése a felhasználói aspektusok szempontjából megbízható, könnyen használható és — értelemszerűen — felhasználóbaráttá váljon. Ahhoz, hogy elérd a kívánt hatást, a komplex, átfogó kutatás, tervezés és prototípus tesztelés hármasa a legideálisabb út.</p>
                <p>Annak érdekében, hogy a tervezés alatt álló termék logikai szempontból áramoljon (nevezhetjük „flow” hatásnak is), a UX Designer azonosítja az ezen áramlást meggátoló elemeket; megoldást talál a felhasználót gátló akadályok elhárítására, így a felhasználót a termék használata közben magasabb szintű elégedettség tölti el. A kutatás, tervezés, tesztelés triumvirátusát első sorban a termék wireframe-ének (vázának) elkészítése szolgálja, mely az adott termék vagy oldal felhasználói szemlélettel történő megközelítését szolgálja.</p>
            </div>
            <div class="blog-section">
                <h2>Mi az a wireframe?</h2>
                <p>A wireframe egy, a grafikai tervezés során használt technológia, mely az adott termék elrendezésének létrehozását szolgálja. A fejlesztési fázist megelőző, egyszerűsített vázlat, amely lehetővé teszi a külső szemlélők számára az oldal sorainak, elrendezésének, blokkjainak, szekcióinak megismerését. A wireframe, mint armatúra alkotja a végleges produktum megteremtésének alapjait.</p>
                <p>Wireframe elkészítéséhez grafikai szoftverek százaiból választhatsz; személy szerint abszolút megbízható alkalmazásként az Affinity Designer-t, inDesign-t vagy Photoshop-ot használom, így előszeretettel ajánlom őket számodra is.</p>
                <p>Ahhoz, hogy az elkészült wireframe-t dinamikussá (kattinthatóvá, “swipe-olhatóvá”, tesztelők kezébe adhatóvá) varázsold, használhatsz különböző online eszközöket (Pl.: Invision— megbízható, bővíthető tool).</p>
            </div>
            <div class="blog-section">
                <h2>A UI Design mélyebb megismerése</h2>
                <p>A UI (User Interface) olyan feladatok összességének megnevezése, amelyek a termék optimalizálását célozzák a felhasználóbarát megközelítés sikerének növelése érdekében. A megközelítésre tekinthetünk úgy, mint az adott termék megjelenését, érzésvilágát és interaktivitását a felhasználóval. A UI és UX közötti határvonal meghúzásának feladata azért tűnhet bonyolultnak, mert kismilliónyi cég építi fel termékeit, weboldalát UX elemekkel, azonban UI megközelítés nélkül. Megszámlálhatatlan esetben találhatunk felhasználóbarát, íriszünk szempontjából harmonikus felhasználói felületet, azonban a felület minimális UX logikával sem rendelkezik.</p>
                <p class="main-line">A UI nagyban segíti a vállalat termékkutatásának, fejlesztésének, tartalmának, elrendezésének és a felhasználónak történő átadását azzal a végleges céllal, hogy a felhasználó számára maradéktalanul átadja a cég termékeinek, oldalának elsődleges információit, szolgáltatásait.</p>
                <p>A UI / UX Designer szerepe gyakran átfedésben van más területek szakembereivel, ezért is számít izgalmas munkának a különböző megközelítések reszponzívitásának és statikusságának összefésülése.</p>
                <p>Ahhoz, hogy elérhesd a dinamikus flow hatást, nem árt, ha rendelkezel a grafikai látásmód mellett programozói ismeretekkel is:</p>
                <ul class="list-group mt-4 mb-4">
                    <li class="list-group-item">Front-end fejlesztői nyelvek (HTML, CSS, Javascript)</li>
                    <li class="list-group-item">Framework-ök (Angular, React, Vue.js)</li>
                </ul>
                <p>A UI és UX közötti határvonal szürke, ugyanis míg a UI nagyon fontos szerepet játszik a UX-ben, addig az utóbbinak lényegesen komolyabb hatóköre van a tervezés fázisában.</p>
            </div>
            <div class="blog-section">
                <h2>A megközelítés alappillérei:</h2>
                <p>Individuális megközelítés, összpontosítás a felhasználói problémákra: A felhasználói felületek kialakítása során a fejlesztőnek meg kell találnia a áthidalandó akadályokat, a hierarchikus oldal-, és termék struktúrát.</p>
            </div>
            <div class="blog-section">
                <h2>A célközönség megértése:</h2>
                <p>Marketing-, és médiakutatások, a termék felhasználóra „szabása”, versenytársak hasonló tematikájú produktumainak megtekintése; összességében a felhasználók igényeinek felmérése.</p>
            </div>
            <div class="blog-section">
                <h2>Vizuális hierarchia használata:</h2>
                <p>Fejlesztőként elsődleges célod, hogy segíts a felhasználóknak a kiemelt elemekre összpontosítani. Ehhez a legideálisabb út az elemek azonosítása, kiemelése, középpontba helyezése. Példaként.: egy termékkatalógus esetén a termék ideális árára, míg egyéni weboldal esetén az elsődleges szolgáltatásra történő összpontosításra kell irányítanod a felhasználó, illetve fogyasztó figyelmét.</p>
            </div>
            <div class="blog-section">
                <h2>Színek és kontrasztok:</h2>
                <p>A megfelelő színek kiválasztása elengedhetetlen ahhoz, hogy növeljük a UI / UX megközelítés szerint készült produktum összhatását. A színek megszámlálhatatlan módon válthatnak ki érzéseket a felhasználókból. Segítenek meghatározni az elemek és vizuális hierarchia közötti kapcsolatot a UX fokozásához. Hangsúlyoznod kell a termék egyenletességét, lehetőleg az arculatra jellemző színekkel, színkombinációkkal.</p>
            </div>
            <div class="blog-section">
                <p class="main-line">Első körben ennyit szerettem volna megosztani veletek a UI / UX fejlesztés grafikai és programozói megközelítéséről. A következő bejegyzésben bővebb információk, példák segítségével szemléltetem a témát.</p>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section class="portfolio-contact pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5 mb-4">
                    <div class="portfolio-main-liner">
                        <h2>Lépj kapcsolatba velem</h2>
                        <p>Bármilyen kérdésre - legyen az információkérés, együttműködés, üzleti megkeresés - örömmel állok rendelkezésedre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-contact-forms">
            <div class="container">
                <div class="contact-forms-main-bg">
                    <form method="POST" action="send-your-email">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 mt-4 mb-4">
                                <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                            </div>
                            <div class="col-sm-12 send-a-message-btn text-center">
                                <input type="submit" class="send-message" value="Üzenet küldése">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-none d-sm-block text-center">
                    <ul class="footer-navigation-links list-inline">
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#portfolio">Portfolió</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#about-me">Rólam</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#services">Szolgáltatásaim</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#blog">Blog</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                    <div class="portfolio-rights">
                        <p>Copyright ©2018 - Minden jog fenntartva. © Design By Augenic Arts</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center">
                    <img src="/portfolio-images/ending-content-logo.svg" alt="Augenic Arts" class="main-logo img-fluid mt-3 mb-3">
                </div>
            </div>
        </div>
    </section>

    <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../js/main.js"></script>
    <script defer type="text/javascript" src="../js/generic-js/bootstrap.min.js"></script>
</body>
</html>