<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts</title>
    <link rel="stylesheet" type="text/css" href="../css/blog-section/webfejlesztes.css">
    <link rel="stylesheet" type="text/css" href="../generic-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/timeline.css">
    <link href="../css/blog-section/hamburger-menu/dist/hamburgers.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" rel="stylesheet">
    <script defer src="../js/icon-library/fontawesome-all.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
</head>
<body>

    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/blog-section/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right mt-2 mb-2 list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Portfolió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="navigation-menu" class="navigation-menu d-none d-block d-lg-none">
                        <ul class="mt-5 mb-5">
                            <li><a href="">Rólam</a></li>
                            <li><a href="">Portfolió</a></li>
                            <li><a href="">Szolgáltatásaim</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                    <div class="row section-divider d-flex align-items-center">
                        <div class="col-sm-12">
                            <div class="welcome-information text-center">
                                <div class="main-introduction">
                                    <h1>Webfejlesztés 2018-ban</h1>
                                    <p>Ezen bejegyzés a szubjektív véleményemen alapuló útmutató a 2018-as év webfejlesztői technológiáinak megismeréséhez.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="main-blog-section">
        <div class="container">
            <div class="blog-section">
                <p>Kezdjünk bele!</p>
                <p>Első körben megjegyezném, hogy az itt felsorolt technológiák nem azon okból kifolyólag kerültek felsorolásra, hogy az olvasó mindegyikben perfekt legyen, sokkal inkább a választási lehetőségek körvonalazása szempontjából. Szakterületed érintve válasz ki egyet-egyet a felsoroltak közül és „vidd tökélyre a mesterségedet”.</p>
                <p>Amennyiben friss, korábban fejlesztéssel nem foglalkozó olvasóm vagy, úgy mindenképpen javaslom, hogy először hozd meg a döntés azon irányban, hogy milyen fejlesztői pozícióban szeretnéd látni magad az általad meghatározott idő múlva. (Full Stack fejlesztő, Front-end fejlesztő, Back-end fejlesztő, Web Designer (Graphic, UI / UX), API készítés)</p>
                <p>Kezdjük az alapoktól.</p>
            </div>
            <div class="blog-section">
                <h2>Eszközök és szoftverek</h2>
                <p>Szükséged lesz egy általad preferált Text Editor-ra. Példaként felhoznám a VSCode-ot, Atom-ot, Sublime Text, csak a legismertebbek közül.</p>
                <p>A Text Editor kiválasztása, telepítése, megismerése mellett használj megbízható, jó böngészőket! (Chrome vagy Firefox). A Google Chrome fejlesztői környezetét mindenképpen szeretném a figyelmedbe ajánlani. Úgy gondolom, hogy a jelenleg legstabilabb és egyben legmodernebb böngésző számtalan plusszal, hasznos plugin-okkal. Fejlesztés szempontjából – magánvélemény – nem javaslom: Internet Explorer, IE Edge.</p>
            </div>
            <div class="blog-section">
                <h2>Kép-, videószerkesztő szoftverek</h2>
                <p>Amennyiben nem grafikai szakemberként tevékenykedsz, nem szeretném hosszú felsorolással az idődet húzni, azonban Front-end fejlesztőként úgy gondolom, hogy elvárható, hogy az Adobe Photoshop-ot legalább felhasználói szinten ismerd. Sok fejfájást megspórolhatsz ezáltal a grafikus munkatársadnak, főleg, ha csak egy gyors utómunkáról van szó. Amennyiben érdeklődsz a UI / UX Design-ról, itt olvashatsz bővebben ezen témakörről.</p>
            </div>
            <div class="blog-section">
                <h2>Deployment</h2>
                <p>Front-end fejlesztőként fontos, hogy tisztában légy az FTP kliens (FTP Client) és SSH eszköz (SSH Tool) fogalmával. Két megközelítése forma a szerverrel történő interakcióhoz.</p>
            </div>
            <div class="blog-section">
                <h2>Felhő alapú tárhely</h2>
                <p>Amennyiben nem otthon tartózkodsz, vagy idegen gépről szeretnél információkhoz hozzáférni, különböző, akár kisebb, akár nagyobb projektek esetén javaslom, hogy használj Google Drive-ot, Dropbox-ot, illetve az ismert Cloud Storage-ek közül az általad legjobban preferáltat.</p>
            </div>
            <div class="blog-section">
                <h2>Az alapok után beszéljünk 2018 technológiáiról.</h2>
            </div>
            <div class="blog-section">
                <h2>HTML / CSS</h2>
                <p>Minden EGYÉB előtt elsajátítandó nyelvek. Az internet építő kövei, minden oldal használja. A tiszta átláthatóság - + SEO – miatt fontos, hogy megtanulj szemantikai szempontból kiváló HTML-t írni. Több bejegyzésemben is jeleztem, de tanuld meg a Flex és/vagy Grid alapjait, illetve fektess hangsúlyt a reszponzivitásra.</p>
            </div>
            <div class="blog-section">
                <h2>Alap (Vanilla) Javascript</h2>
                <p>BasicJS, framework-ök nélkül! Szintaktika, adattípusok, funkciók, kondíciók, loop-ok, operátorok, DOM manipuláció és event-ek elsajátítása.</p>
                <p>Ajax | Fetch API | JSON – HTTP request-ekhez használt technológiák.</p>
                <p>ES2015+ (Arrow functions, promises, template strings) – Amennyiben JS fejlesztőnek készülsz, mindenképpen javaslom, hogy nézz utána az ES2015+ új funkcióinak, szintaktikájának.</p>
            </div>
            <div class="blog-section">
                <h2>Alapszintű weboldal megosztása</h2>
                <p>Az alapok elsajátítása után regisztrálj be egy új domain-t egy Shared Hosting (InMotion, Hostgator, etc.) platformon keresztül. Tanuld meg a cPanel alapjait. Tölts fel egy oldalt FTP-n keresztül. (FileZilla, WinSCP, etc.)</p>
            </div>
            <div class="blog-section">
                <h2>Amint eljutottál erre a pontra, már megtanultál…</h2>
                <ul class="list-group">
                    <li class="list-group-item">Egyszerű weboldalakat és User Interface-eket készíteni</li>
                    <li class="list-group-item">PSD / AI formátumból, wireframe-ekből, elkészült látványtervekből HTML / CSS-t felhasználva statikus oldalt építeni</li>
                    <li class="list-group-item">Az oldaladhoz némi dinamikát párosítani Javascript segítségével</li>
                </ul>
            </div>
            <div class="blog-section">
                <p>Az alapok elsajátítása után több lehetőséged van.</p>
                <p class="main-line" >Nézz utána a HTML / CSS Framework-ök használatának (pl.: Bootstrap, Materialize.css, Material Design, Semantic UI). Reszponzivitás szempontjából Flexbox, media query-k, előre definiált CSS könyvtárak (ezen a ponton nézz utána SASS / LESS preprocesszoroknak).</p>
                <p>2018-ban is nagy teret kapnak a Front-end Javascript Framework-ök:</p>
                <p>React, Angular, Vue.js, néhány az elterjedtebbek közül.</p>
            </div>
            <div class="blog-section">
                <ul class="list-group">
                    <li class="list-group-item">React – Népszerű framework, első sorban felhasználói felületek, egy oldalas applikációk elkészítéséhez (Facebook által fejlesztve).</li>
                    <li class="list-group-item">Angular – Szintén felkapott, fejlesztőbarát, Front-end framework. Elsők között használta a Shadow DOM technológiát, progresszív web applikációk, natív és desktop oldalakhoz is tökéletes választás.</li>
                </ul>
            </div>
            <div class="blog-section">
                <p>A blog második bejegyzése a 2018-ban is felkapott Back-end fejlesztői környezetekre tér ki.</p>
            </div>
        </div>
    </section>

    <!-- Contact -->

    <section class="portfolio-contact pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-md-1">
                    <div class="portfolio-main-line">
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 mt-5 mb-4">
                    <div class="portfolio-main-liner">
                        <h2>Lépj kapcsolatba velem</h2>
                        <p>Bármilyen kérdésre - legyen az információkérés, együttműködés, üzleti megkeresés - örömmel állok rendelkezésedre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio-contact-forms">
            <div class="container">
                <div class="contact-forms-main-bg">
                    <form method="POST" action="send-your-email">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                            </div>
                            <div class="col-sm-12 mt-4 mb-4">
                                <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                            </div>
                            <div class="col-sm-12 send-a-message-btn text-center">
                                <input type="submit" class="send-message" value="Üzenet küldése">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-none d-sm-block text-center">
                    <ul class="footer-navigation-links list-inline">
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#portfolio">Portfolió</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#about-me">Rólam</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#services">Szolgáltatásaim</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#blog">Blog</a></li>
                        <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                    <div class="portfolio-rights">
                        <p>Copyright ©2018 - Minden jog fenntartva. © Design By Augenic Arts</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center">
                    <img src="/portfolio-images/ending-content-logo.svg" alt="Augenic Arts" class="main-logo img-fluid mt-3 mb-3">
                </div>
            </div>
        </div>
    </section>

    <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../js/main.js"></script>
    <script defer type="text/javascript" src="../js/generic-js/bootstrap.min.js"></script>
</body>
</html>