<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Augenic Arts</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../generic-css/grid-layout/bootstrap.min.css">
    <link rel="stylesheet" href="../css/timeline.css">
    <link href="../hamburger-menu/dist/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/about-me.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script defer src="../js/icon-library/fontawesome-all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
</head>
<body>
    <section class="portfolio-welcome-seq">
        <div class="portfolio-welcome-main-bg">
            <section class="portfolio-navigation">
                <div class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 d-none d-xl-block">
                                <div class="portfolio-augenic-arts-logo">
                                    <a href="/"><img src="../portfolio-images/open-content-logo.svg" alt="Augenic Arts" class="main-logo xl-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-lg-block d-xl-none">
                                <div class="portfolio-augenic-arts-logo xl-form">
                                    <a href="/"><img src="../portfolio-images/open-content-logo.svg" alt="Augenic Arts" class="main-logo lg-form img-fluid mt-3 mb-3"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-md-block d-lg-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-sm-3 d-none d-sm-block d-md-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo md-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 d-none d-block d-sm-none">
                                <div class="portfolio-augenic-arts-logo md-form">
                                    <a href="/"><img src="../portfolio-images/open-content-mobile-logo.svg" alt="Augenic Arts" class="main-logo sm-form img-fluid mt-4 mb-4"></a>
                                </div>
                            </div> 
                            <div class="col-9 col-sm-9 text-right">
                                <div class="hamburger hamburger--emphatic d-lg-none">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                                <ul class="main-navigation-links text-right list-inline d-none d-lg-block">
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Rólam</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Portfolió</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Szolgáltatásaim</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Blog</a></li>
                                    <li class="navigation-link mt-4 mb-4 list-inline-item"><a href="">Kapcsolat</a></li>
                                    <div class="language-changer">
                                        <a href="/en">English</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="navigation-menu" class="navigation-menu d-none d-sm-block d-lg-none">
                        <ul class="mt-5 mb-5">
                            <li><a href="">Rólam</a></li>
                            <li><a href="">Portfolió</a></li>
                            <li><a href="">Szolgáltatásaim</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kapcsolat</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="portfolio-opener">
                <div class="container">
                        <div class="row section-divider d-flex align-items-center">
                            <div class="col-sm-12">
                                <div class="welcome-information text-center">
                                    <div class="augenic-arts-logo">
                                        <img src="../portfolio-images/main-header-logo.svg" alt="Augenic Arts" class="img-fluid m-4">
                                    </div>
                                    <div class="main-introduction">
                                        <h1>Robert Kozma</h1>
                                        <h2>Full-Stack Developer</h2>
                                        <h2>UI | UX Designer</h2>
                                    </div>
                                    <div class="main-line mt-4 mb-4">
                                        <hr>
                                    </div>
                                    <div class="main-introduction-quote">
                                        <blockquote class="blockquote">
                                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.”</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </section>
        
        
            <!-- Contact -->
        
            <section class="portfolio-contact pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="d-none d-md-block col-md-1">
                            <div class="portfolio-main-line">
                                <hr>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8 mt-5 mb-4">
                            <div class="portfolio-main-liner">
                                <h2>Get in contact with me</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maiores sit unde illo dolorum, sapiente possimus excepturi minima amet aut labore repellendus debitis architecto illum laboriosam! Ut consectetur quia porro!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-contact-forms">
                    <div class="container">
                        <div class="contact-forms-main-bg">
                            <form method="POST" action="send-your-email">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                        <input type="text" name="name" placeholder="Teljes neved" class="p-3 mt-2 mb-2 ml-4 mr-4">
                                    </div>
                                    <div class="col-sm-12 col-md-6 mt-4 mb-4">
                                        <input type="text" name="email" placeholder="E-mail címed" class="p-3 mt-2 mb-2 ml-4 mr-4">
                                    </div>
                                    <div class="col-sm-12 mt-4 mb-4">
                                        <textarea name="message" cols="30" rows="10" placeholder="Üzeneted" class="p-3 mt-2 mb-2 ml-4 mr-4"></textarea>
                                    </div>
                                    <div class="col-sm-12 send-a-message-btn text-center">
                                        <input type="submit" class="send-message" value="Üzenet küldése">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="portfolio-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <ul class="footer-navigation-links list-inline">
                                <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="">Rólam</a></li>
                                <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="">Portfolió</a></li>
                                <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="">Szolgáltatásaim</a></li>
                                <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="">Blog</a></li>
                                <li class="navigation-link mt-2 mb-2 list-inline-item"><a href="">Kapcsolat</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                            <div class="portfolio-rights">
                                <p>Copyright ©2018 - Minden jog fenntartva. © Design By Augenic Arts</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 d-flex align-items-center">
                            <img src="portfolio-images/ending-content-logo.svg" alt="Augenic Arts" class="main-logo img-fluid mt-3 mb-3">
                        </div>
                    </div>
                </div>
            </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/generic-js/bootstrap.min.js"></script>
</body>
</html>